.redmine-issues-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1em;
}

.redmine-issue-grid-item {
    flex-grow: 1;
    padding: 1em;
    max-width: 300px;
    min-width: 300px;
}

.redmine-issue {
    color: var(--text-normal);
    background-color: var(--background-primary-alt);
    border-radius: 5px;
    padding: 5px 10px 10px 10px;
}

.redmine-issue.in-error {
    color: var(--text-error);
    text-align: center;
    padding: 1em;
}

.redmine-issue-title {
    height: 3em;
    overflow: hidden;
}

.redmine-issue-details span {
    font-size: 0.6em;
}

.redmine-issue-details span:not(:last-child) {
    margin-right: 5px;
}

.redmine-issue-time-bar-container {
    height: 1em;
    background-color: var(--text-normal);
    overflow: hidden;
    margin-top: 0.2em;
}

.redmine-issue-time-bar, .redmine-issue-time-bar-overflow {
    height: 100%;
    width: 0;
}

.redmine-issue-time-bar {
    background-color: var(--text-accent-hover);
}

.redmine-issue-time-bar-overflow {
    background-color: var(--text-error-hover);
}

.redmine-modal-commands {
    text-align: right;
    padding-top: 2em;
}

.redmine-modal-title {
    max-width: 20em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.redmine-tracking-filter {
    text-align: center;
    padding: 0.5em;
}

.redmine-tracking-filter button {
    margin: 0;
}

.redmine-tracking-filter span {
    margin: 0 0.5em;
}

.redmine-tracking-stats {
    width: 100%;
    height: 100%;
    margin: auto;
    max-width: 300px;
    max-height: 300px;
}

.redmine-tracking-stats circle {
    transition: 400ms stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: center;
}
